@import '~antd/dist/antd.less';
@import './../style/default.less';
.container{
    display: flex;
    .nav-left{
        width: 15%;
        min-width: 180px;
        background: #001529;
        height: calc(100vh);
    }
    .main{
        flex: 1;
        background-color: @colorL;
    }
    .content{
        width: 100%;
        position: relative;
        padding:20px;
        
    }
    
}